$portrait-size: 0.7;

header {
  position: fixed;
  width: 100vw;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 30px -10px gray;
  padding: 0 6rem;
  background: white;

  @media (max-width: 1350px) {
    padding: 0 3rem;
  }

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-green;
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    font-weight: 500;

    a {
      cursor: pointer;
    }
  }

  .nav-menu {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10rem;
    min-width: 850px;

    .nav-item {
      margin: 0 1rem;
      a {
        cursor: pointer;

        h2 {
          color: $dark-green;
          font-size: 1.3rem;
          font-weight: 200;
        }
      }
    }
  }

  .account-profile {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      height: calc(100% * #{$portrait-size});
      margin-right: 0.8rem;
      cursor: pointer;

      img {
        height: 100%;
      }

      .portrait {
        width: calc(#{$header-height} * #{$portrait-size});
        height: 100%;
        background: url("/profile.jpg");
        opacity: 1; // this can overwrites parent opacity only coz parent uses rgba instead of opacity
        background-size: cover;
        background-position: bottom 1px right 1px;
        border-radius: 50%;
        border: solid 3px $dark-green;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.2rem;
      color: $dark-green;
      margin-right: 5px;
    }

    .arrow {
      height: 18%;
      padding-top: 3px;

      img {
        height: 100%;
      }
    }
  }
}
